nav {
    background-image: url("media/fondo.svg");
    background-repeat: repeat;
    background-size: 50%;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-top: 0;
    height: 100px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 15px ;
    overflow: hidden;
    display: block;

}

li {
    float: right;
}

li a { 
  display: inline-block;
  color: black;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  margin-top: 10%;

}

.logo {
    margin-top: 1%;
}

.cover {
    width: 100%;
}

.entry {
    float: left;
    padding: 5px;

    background-color: white;
    margin-bottom: 50 px;


}

.section {
    margin-right: -50;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 30;

}
  
.gallery:hover {
    border: 1px solid #777;
}
  
  
.desc {
    padding: 15px;
    text-align: center;
}

.t1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 500;
    color:rgb(50, 50, 50);
    font-size: 250%;
    margin-top: 5%;
}

.mock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.reds {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 300;
    color:rgb(50, 50, 50);
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

.fb {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
    color:rgb(50, 50, 50);
    font-size: 175%;
}

.fbb {
    font-family: 'Inter', sans-serif;
    font-size: 125%;
    text-align: center;
    font-weight: 600;
    background-color:rgb(50, 50, 50);
    color: white;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 5%;
    cursor: pointer;
    padding: 1%;
    padding-top: 1.5%;
    text-decoration: none;
}